.FiveCardLovePage {
    margin: 0;
    padding: 20px;
    color: aqua;
}

.FiveCardLovePage-link {
    border: 1px solid aqua;
    background-color: rgb(255,166,91);
    color: rgb(17,4,69);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#card_1 {
    grid-area: one;
}

#card_2 {
    grid-area: two;
}

#card_3 {
    grid-area: three;
}

#card_4 {
    grid-area: four;
}

#card_5 {
    grid-area: five;
}

.cardLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "one . two"
    "three . four"
    ". five .";
    justify-items: center;
}    

.FiveCardLovePage-ReadingButton {
    background-color: rgb(228,101,142);
}

.tarotCard {
    width: 125px;
    height: 209px;
    margin: 15px;
    background-size: cover;
}


