.UserPage {
    padding: 10px;
    color: aqua;
}

.ProfilePage-PastReadingLink {
    background-color: rgb(255,166,91);
    border: 1px solid aqua;
    color: rgb(17,4,69);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.pastReading-listItem {
    margin: 20px;
}