.App {
  text-align: center;
  background-image: url(https://media.giphy.com/media/d2ZhOvMCq7tcTM0o/giphy.gif);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-header {
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
